@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* common style start */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    max-width: 1440px;
    font-family: Inter;
    font-size: 16px;
    margin: 0 auto;
}

/* common style end */
/* Shared styles start */
.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 40px;
    border: none;
}

.section-title {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: 900;
}

.section-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: .875em;
    font-weight: 400;
}

/* Shared styles end */
/* nav-bar related style start */
.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    margin-bottom: 100px;
}

.full-container {
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    color: rgb(230, 83, 60);
    font-size: 2.25em;
    font-weight: 800;
    font-style: italic;
}

.nav-items-container {
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-item {
    color: rgb(255, 255, 255);
    font-size: 1.125em;
    font-weight: 400;
    margin: 2px 0px 2px 65px;
    padding: 8px 20px;
}

.home-design {
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    margin-left: 3px;
}

.line {
    display: none;
}

/* nav-bar related style end */
/* hero part related style start */
.hero-part-container {
    justify-content: space-between;
    align-items: center;
}

.hero-texts {
    width: 55%;
}

.hero-texts h1 {
    color: rgb(255, 255, 255);
    font-size: 4.875em;
    font-weight: 900;
    margin-bottom: 28px;
}

.hero-texts span {
    font-family: 'Miama', sans-serif;
    font-weight: normal;
}

.hero-texts p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 28px;
}

.download-btn {
    background-color: black;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 14px;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 100%;
}

.i-500 {
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 0px 0px 24px;
    box-sizing: border-box;
    position: absolute;
    top: 130px;
    right: -70px;
}

.i-500 h2 {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: 900;
}

.i-500 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: .8125em;
    font-weight: 400;
}

.i-350 {
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    position: absolute;
    bottom: 70px;
    left: -110px;
}

.rec {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.i-350 h4 {
    color: rgb(250, 250, 249);
    font-size: 1.5em;
    font-weight: 900;
}

.i-350 p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

/* hero part related style end */
/* habit section start */
.habit {
    width: 72.5%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.habit-texts {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

.habit-texts h1 {
    margin-bottom: 14px;
}

.habit-texts p {
    margin-bottom: 58px;
}

.habit-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-card {
    text-align: center;
}

.habit-card img {
    border-radius: 50%;
    margin-bottom: 30px;
}

.habit-card-title {
    color: rgb(255, 255, 255);
    font-size: 1.125em;
    font-weight: 600;
    margin-bottom: 6px;
}

.habit-card-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: .875em;
    font-weight: 400;
}

/* habit section end */
/* run section related style start */
.run {
    width: 74%;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 100px;
}

.run-texts {
    width: 450px;
    margin-right: 20px;
}

.run-texts h1 {
    margin-bottom: 14px;
}

.run-texts p {
    margin-bottom: 35px;
    margin-right: 20px;
}

.join-btn {
    padding: 16px 80px;
}

.run-image {
    width: 370px;
    height: 312px;
}

.run-image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

/* run section related style end */
/* training section start */
.training-container {
    width: 74%;
    margin: 0 auto;
    margin-bottom: 100px;
}


.training-container img {
    width: 100%;
    height: 100%;
}

.training-texts {
    margin-bottom: 60px;
    width: 65%;
}

.training1 {
    grid-area: training1;
    background-color: rgba(6, 255, 210, 0.5);
    position: relative;
}

.training-description1 {
    position: absolute;
    bottom: 40px;
    left: 15px;
    color: rgb(255, 255, 255);
    font-size: .875em;
    font-weight: 500;
}

.training2 {
    grid-area: training2;
    background-color: rgba(255, 0, 0, 0.3);
    position: relative;
}

.training-description2 {
    position: absolute;
    top: 15px;
    left: 15px;
    color: rgb(255, 255, 255);
    font-size: .875em;
    font-weight: 500;
}

.training3 {
    grid-area: training3;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.training-description3 {
    position: absolute;
    bottom: 40px;
    left: 15px;
    color: rgb(255, 255, 255);
    font-size: .875em;
    font-weight: 500;
}

.training4 {
    grid-area: training4;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.training-description4 {
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(255, 255, 255);
    font-size: .875em;
    font-weight: 500;
}

.training5 {
    grid-area: training5;
    background-color: rgba(66, 255, 0, 0.3);
    position: relative;
}

.training-description5 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(255, 255, 255);
    font-size: .875em;
    font-weight: 500;
}

.training6 {
    grid-area: training6;
    background-color: rgba(0, 71, 255, 0.3);
    position: relative;
}

.training-description6 {
    position: absolute;
    bottom: 40px;
    left: 15px;
    color: rgb(255, 255, 255);
    font-size: .875em;
    font-weight: 500;
}

.training1 img {
    opacity: 50%;
}

.training2 img {
    opacity: 50%;
}

.training3 img {
    opacity: 50%;
}

.training4 img {
    opacity: 50%;
}

.training5 img {
    opacity: 50%;
}

.training6 img {
    opacity: 50%;
}

.training-images-container {
    display: grid;
    grid-template-areas:
        'training1 training1 training2 training2 training2 training2 training2 training3 training3'
        'training4 training4 training4 training5 training5 training5 training6 training6 training6'
    ;
}

/* training section end */
/* Calculator related style start */
.bmi-calculator-container {
    margin-bottom: 100px;
}

.bmi-texts {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 90px;
}

.calculator-container {
    background: rgb(34, 34, 34);
    padding: 50px 190px;
    justify-content: space-between;
}

.bmi-calculator-container .sub-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
}

.chart {
    width: 40%;
    text-align: left;
}

.chart table {
    margin-top: 38px;
}

.chart th {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;

}

.chart td {
    color: rgba(255, 255, 255, 0.5);
    font-size: .875em;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
}

.main-calculator {
    width: 55%;
}

.main-calculator-2 {
    margin-top: 34px;
    width: 100%;
}

.inputs-width {
    box-sizing: border-box;
    width: calc(50% - 12px);
    margin: 6px;
    padding: 13px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1em;
    font-weight: 400;
    border: none;
}

.active {
    box-sizing: border-box;
    width: calc(100% - 12px);
    margin: 6px;
    padding: 13px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1em;
    font-weight: 400;
    border: none;
}

option {
    background: rgba(255, 255, 255, 0.1);
}

.main-calculator h3,
p,
button {
    margin: 0 6px;
}

option {
    background-color: black;
    color: white;
}

.calculator-btn {
    margin-top: 34px;
}

.trainer-container {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.trainer-texts {
    width: 63%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.trainer-texts h1 {
    margin-bottom: 14px;
}

.trainer-images-container {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.trainer-card {
    position: relative;
}

.trainer-image {
    width: 100%;
    opacity: 80%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2), url(image);
}

.trainer-name {
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 1em;
    font-weight: 600;
    color: white;
}

.trainer-deg {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: .875em;
    font-weight: 400;
}


/* Calculator related style end */
/* footer related style start */
.footer {
    background: rgba(255, 255, 255, 0.1);
    width: auto;
}

.footer-text-container {
    width: 73%;
    margin: auto;
    padding: 66px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.left-text-container {
    width: 50%;
    padding-right: 60px;
}

.footer-title {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 4.375em;
    font-weight: 800;
    margin-bottom: 20px;
}

.middle-right-container {
    width: 50%;
    justify-content: space-between;
}

.get {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 40px;
}

.middle-text-container ul {
    list-style: none;
}

.right-text-container ul {
    list-style: none;
}

.middle-text-container li {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}

.right-text-container li {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;
}

.copy {
    text-align: center;
    padding: 36px 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
    font-weight: 400;
}

/* footer related style end */
/* service section design start */
.service {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service-texts {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.service-card {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(32, 35, 32);
    box-sizing: border-box;
}

.logo {
    color: white;
    margin: 10px 0px;
}

.service-title {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgb(209, 107, 107);
    margin-bottom: 20px;
}
.service-description{
    color: white;
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
}

/* tablet related responsive start */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .body {
        width: 768px;
    }

    .full-container {
        width: 100%;

    }

    .nav-item {
        margin-left: 5px;
    }

    .hero-part-container {
        flex-direction: column;
    }

    .hero-texts {
        width: 90%;
    }

    .hero-image img {
        width: 70%;
        margin: 0 auto;
    }

    .i-500 {
        top: 30px;
        right: 0px;
    }

    .habit-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .run,
    .training-container,
    .habit,
    .trainer-container {
        width: 90%;
    }

    .calculator-container {
        flex-direction: column;
        padding: 50px 30px;
    }

    .chart {
        width: 100%;
        margin-bottom: 30px;
    }

    .main-calculator {
        width: 100%;
    }

    .footer-text-container {
        flex-direction: column;
        width: 90%;
    }

    .left-text-container {
        margin-bottom: 30px;
        width: 90%;
    }

    .middle-right-container {
        width: 80%;
    }
    .service{
        width: 90%;
    }
    .service-texts{
        width: 90%;
    }
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* tablet related responsive end */
/* mobile related responsive start */
@media screen and (max-width: 576px) {
    .full-container {
        width: 95%;
    }

    .header {
        width: 95%;
    }

    .nav-menu {
        display: none;
    }

    .line {
        display: block;
        width: 40px;
        margin-right: 6px;
        line-height: 6px;
    }

    .hero-part-container {
        flex-direction: column;
    }

    .hero-texts {
        width: 100%;
    }

    .hero-texts h1 {
        font-size: 2.25em;
    }

    .i-500 {
        right: -20px;
    }

    .i-350 {
        left: -80px;
    }

    .section-title {
        font-size: 2em;
    }

    .habit-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .run {
        flex-direction: column;
    }

    .join-btn {
        margin-bottom: 20px;
        width: auto;
    }


    .run-image {
        width: auto;
    }

    .run-texts {
        width: auto;
    }

    .join-btn {
        width: 100%;
    }

    .training-images-container {
        grid-template-areas:
            'training1 training1 training1 training2 training2 training2'
            'training4 training4 training4 training5 training5 training5'
        ;
    }

    .training3,
    .training6 {
        display: none;
    }


    .habit {
        width: 90%;
    }

    .calculator-container {
        flex-direction: column;
        padding: 50px 30px;
    }

    .chart {
        width: 100%;
        margin-bottom: 30px;
    }

    .main-calculator {
        width: 90%;
    }

    .trainer-images-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .trainer-card:nth-child(1) {
        display: none;
    }

    .trainer-card:nth-child(4) {
        display: none;
    }

    .trainer-card:nth-child(5) {
        grid-row: 2;
    }

    .trainer-texts,
    .training-texts,
    .habit-texts {
        width: 100%;
    }

    .bmi-texts {
        width: 90%;
    }

    .br {
        display: none;
    }

    .footer-text-container {
        flex-direction: column;
    }

    .middle-right-container {
        flex-direction: column;
        margin-top: 20px;
    }
    .service{
        width: 90%;
    }
    .service-texts{
        width: 90%;
    }
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/* mobile related responsive end */